body{
    background-color: #F5F5F5;
}

.contenido {
    background-color: #F5F5F5;
    max-width: 90%;
    margin: 0 auto;
    padding: 5px;
}

h2 {
    font-size: 40px;
    background-color: #0066cc;
    color: white;
    padding: 15px 25px;
    border-radius: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    text-align: center;
}

.contenido-tarjeta {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.tarjetas {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0,0, 0.1);
    flex: 1;
    min-width: 300px;
    text-align: justify;

}

.tarjetas:hover {
    transform: translateY(-5px);
}

.tarjetas h3{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.tarjeta-Git {
    border-left: 6px solid #007bff;
}

.tarjeta-GitHub {
    border-left: 6px solid #28a745;
}

.contenedor-tabla {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0,0, 0.1);

}

.tabla-diferencias {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tabla-diferencias th,
.tabla-diferencias td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.seccion-beneficios {
background-color: #ffffff;
padding: 30px;
margin-bottom: 40px;
border-radius: 12px;
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.seccion-beneficios h3 {
font-size: 30px;
color: #0066cc;
margin-bottom: 25px;
text-align: center;
}
.lista-beneficios {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 25px;
}
.beneficio {
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
transition: transform 0.3s ease;
}
.beneficio:hover {
transform: translateY(-5px);
}
.beneficio h4 {
font-size: 20px;
color: #333;
margin-bottom: 10px;
}
.beneficio p {
font-size: 16px;
color: #444;
text-align: justify;
}